<h1>Bike</h1>

<form class="form-horizontal" role="form" method="GET" action="/">
  <input type="text" name="word" placeholder="<%= @word  %>">
  <button type="submit">
    is it a palindrome?
  </button>
</form>

<p>
  <%= @tekst %>
</p>
